// Navigation Styles here

header {
    display: flex;
    // border: 1px solid blue;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 2px dashed grey;

    h1 {
        margin-left: 80px;
    }

    nav {
        // border: 1px solid blue;
        margin-right: 80px;
        
    
    }

    a {
        padding: 20px;
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
       
    }

  
   
}

.bus {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}